body {
  color: #393939;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}

.park_predictions {
    text-align: left;
    border-style: solid;
    border-radius: 15px;
    border-color: #d9d9d9;
    border-width: 2px;
    padding: 10px;
    margin-bottom: 10px;
}

.people {
    font-size: 23px;
}

.text_pred {
    font-size: 15px;
    color: #878787;
}

.data {
    float: left;
    display: inline-block;
}

.park_business {
    font-size: 20px;
    color: #878787;
    float: right;
    display: inline-block;
    padding-top: 25px;
    margin-right: 10px;
}

.park_recommendations {
    border-style: solid;
    border-radius: 15px;
    border-color: #d9d9d9;
    border-width: 2px;
    padding: 10px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.park_header {
    text-align: left;
    font-size: 20px;
    color: #393939;
}

.text_sugg {
    text-align: left;
    font-size: 12px;
    color: #878787;
    float: left;
    display: inline-block;
}

.business_sugg {
    text-align: left;
    font-size: 12px;
    color: #878787;
    margin-left: 15px;
    float: left;
    display: inline-block;
}

.distance {
    text-align: right;
    font-size: 12px;
    color: #878787;
    float: right;
    display: inline-block;
}

#predictions {
    margin-left: -11px;
}

.mapslink {
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
}

#mapslink {
    border-style: solid;
    border-radius: 25px;
    border-color: #878787;
    border-width: 2px;
    text-decoration: none;
    color: #393939;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left:7px;
    padding-right: 7px;
}

#mapslink2 {
    text-decoration: none;
    color: #393939;
}
